[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/CommonLibSSE-NG"]
	path = extern/CommonLibSSE-NG
	url = https://github.com/mlthelama/CommonLibSSE.git
	branch = ng
[submodule "extern/imgui_markdown"]
	path = extern/imgui_markdown
	url = https://github.com/juliettef/imgui_markdown.git
